* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
}

input {
  width: 400px;
  margin: 40px
}

.todo {
  margin: 40px;
}

.delete {
  color: red;
  cursor: pointer;
}
